{
    "overrides": [
        {
            "files": "*.{js,ts,sol}",
            "options": {
                "printWidth": 150,
                "tabWidth": 4,
                "useTabs": false,
                "singleQuote": true
            }
        }
    ]
}
